{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>Grade Checker</h2>
            <br>
            <input type="number" name="marks" placeholder="enter marks" step="any" min=1 max=100 required/>
            <br> <br>
            <input type="submit" value="find grade"/><br>
            {{grade}}
        </form>
    </center>
</body>
</html>