<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-size: 60px;
            font-family: sans-serif;
        }
        body{
            background-color: azure;
        }
    </style>
</head>
<body>
    <center>
        <h2>Area and cicumference finder</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="number" step ="any" name="radius" min=0.1 placeholder="enter radius" required/>
            <br> <br>
            <input type="submit" value="find"> <br>
            {{msg}}
        </form>
    </center>
</body>
</html>