{% extends 'base.html' %}
{% block content %}
<h1>Signup Page</h1>
<form method="post">
    {% csrf_token %}
    <input type="email" name="un" placeholder="enter email" required/>
    <br><br>
    <input type="button" value="Register">
</form>
<h2>Password would be sent to yo email</h2>
{% endblock %}