{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto APP</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
            <form method="POST">
                {% csrf_token %}
                <h2>CRYPTO PRICE FINDER BY GIRISH TANNA D124</h2>
                <input type="radio" name="crypto" value="BTC">BTC
                <input type="radio" name="crypto" value="ETH">ETH
                <br><br>
                <input type="submit" value="find current price">
                <h3 id="price">{{msg}}</h3>
            </form>
    </center>
</body>
</html>