<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not found</title>
</head>
<body>
    <center>
        <h3>404 page not found</h3>
        <a href="{% url 'home'%}">home</a>
    </center>
</body>
</html>