<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VC APP</title>
    <style>
        *{
            font-size: 40px;
        }
        body{
            background-color: seagreen;
        }
    </style>
</head>
<body>
    <center>
        <h3>VC WebApp by Girish Tanna</h3>
        <form>
            <textarea cols="40" rows="5" name="txt" placeholder="enter text"></textarea>
            <br><br>
            <input type="submit" value="count">
        </form>
        {{msg}}
    </center>
</body>
</html>