<!DOCTYPE html>
<html lang="en">
<head>
    <title>App By Girish Tanna</title>
    <style>
        *{
            font-size: 35px;
        }
        .nav{ background-color: black;}
        .nav a{color: white; text-decoration: none; margin: 50px;font-family: Arial, Helvetica, sans-serif;}
    </style>
</head>
<body>
    <center>
        <div class="nav">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'python' %}">Python</a>
            <a href="{% url 'ml'%}">Machine Learning</a>
            <a href="{% url 'jsmern' %}">JS Mern</a>
            <a href="{% url 'django' %}">Django</a>
        </div>
        {% block content %}
        {% endblock %}
        <h3>GIRISH TANNA D124</h3>
    </center>
    
</body>
</html>