<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web App by Girish</title>
    <style>
       
       *{
            font-size: 35px;
        }
        .nav{ background-color: black;}
        .nav a{color: white; text-decoration: none; margin: 50px;font-family: Arial, Helvetica, sans-serif;}
    </style>
</head>
<body>
    <div class="nav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'location' %}">Location</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>