{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>Please Enter student details</h2>
            <table>
                {{fm.as_table}}
            </table>
                <br>
             <input type="submit" value="register">
            <br>
             {{msg}}
        </form>
    </center>
</body>
</html>