{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            <h2>Welcome to Studenet Management App</h2>
            <a href="{% url 'create' %}">create student</a>
            <h2>Students</h2>
            <table border="5">
                <th>Name</th>
                <th>Roll no</th>
                <th>Delete</th>
            {% for d in data %}
                <tr>
                    <td>{{d.rno}}</td>
                    <td>{{d.name}}</td>
                    <td><a href="{% url 'remove' id=d.rno %}" onclick="confirm ('r u sure?')">Delete</a></td>
                </tr>
            {% endfor %}
            
            </table>
        </form>
    </center>
</body>
</html>