{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <h2>404 page not found!</h2>
        <a href="{% url 'home' %}">home</a>
    </center>
</body>
</html>