{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square APP HW by Girish Tanna</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form action="{% url 'result' %}">
            <h2>Square Finder HW by Girish Tanna</h2>
            <input type="number" name="num"  placeholder="enter number" required/>
            <br><br>
            <input type="submit" value="find square">
        </form>
        {{msg}}
    </center>
</body>
</html>