{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form>
            <h2>Square of the number is {{msg}}</h2>
            <h3>Square Finder HW by Girish Tanna</h3>

            <br><br>
            <a href="{% url 'home' %}">home</a>
        </form>
    </center>
</body>
</html>