{% load static %}
<html lang="en">
<head>
    <title>App by GIRISH TANNA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script src="{% static 'app.js' %}"> </script>
</head>
<body>
    <center>
        <form method="POST" onsubmit="return check()">
            {% csrf_token %} <br>
            <h2>EVEN ODD WEB APP BY GIRISH TANNA D124</h2> <br>
            <input type="number" name="num" id="num" placeholder="enter number"/>
            <br> </br><input type="submit" value="find even/odd">
            <br> <br> 
        </form>
<h2 id="ans">{{msg}}</h2>
    </center>
</body>
</html>