{% extends 'base.html' %}
{% block content %}
<h1>Feedback Please</h1>
<form method="post">
    {% csrf_token %}
    <input type="radio" name="f" value="excellent">Excellent
    <input type="radio" name="f" value="Fantastic">Fantastic
    <input type="radio" name="f" value="Good">Good
    <br><br>
    <input type="submit"/>
</form>
{{msg}}
{% endblock %}