{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web App by Girish</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <h3>Student Form</h3>
        <a href="{% url 'register' %}">Click here to register</a>
        <table border="5">
            <th>Roll no</th>
            <th>Name</th>
            <th>Course</th>
            <th>Delete</th>
            {% for d in data %}
            <tr>
                <td>{{d.rno}}</td>
                <td>{{d.name}}</td>
                <td>{{d.course}}</td>
                 <td><a href="{% url 'remove' id=d.rno %}" onclick="return confirm('r u sure?') ">Delete</a></td>             </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>