{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register here</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <table>
                <h2>Register yourself here!</h2>
                {{form.as_table}}
            </table>
            <br>
            <input type="submit">

        </form>
        {{msg}}
    </center>
</body>
</html>