{% extends 'base.html' %}
{% block content %}
<h1>LOGIN PAGE</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="un" placeholder="enter user name">
    <br><br>
    <input type="passowrd"  name="pw" placeholder="password"/>
    <br><br>
    <input type="submit" value="login">
</form>
{{ msg }}
{% endblock %}