<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAMAL CLASS</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h3>ENQUIRY FORM DESIGNED BY GIRISH TANNA D124</h3>
            <table>
            {{fm.as_table}}
            </table>
            <input type="submit">
            <br> <br>
            {{msg}}
        </form>
    </center>
</body>
</html>