<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form>
            <h2>EVEN ODD WEB APP BY D124 Girish Tanna</h2>
            {{fm}}
            <br><br>
            <input type="submit" value="Find Even/Odd">
            <br><br>
            {{msg}}
        </form>
    </center>
</body>
</html>