<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create HTML</title>
    <style>
        *{
            font-size: 40px;
            font-family: 'Gill Sans';
 
        }
        body{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <center>
        <h1>Create Page</h1>
        <a href="{%  url 'home' %}">Home</a>
        <form method="POST">
            {% csrf_token %}
            <table>
                {{fm.as_table}}
            </table>
            <input type="submit">
        </form>
        {{msg}}
    </center>
    
</body>
</html>