<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks App</title>
    <style>
        *{
            font-size: 40px;
        }
        body{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <center>
        <h1>Home Page</h1>
        <br>
        <h2>Student Marks App designed by Girish Tanna D124</h2><br>
        <a href="{% url 'create' %}">Create Student</a>
        <table border="5" style="width:50%;">
            <tr>
                <th>Rno</th>
                <th>Name</th>
                <th>Marks</th>
                <th>Delete</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.rno}}</td>
                <td>{{d.name}}</td>
                <td>{{d.marks}}</td>
                <td><a href="{% url 'remove' id=d.rno %}" onclick="return confirm('r u sure?') ">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>