{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App by Girish Tanna</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>GRADE WEB APP BY GIRISH TANNA D124</h2>
            <input type="number" name="marks"placeholder="please enter your grade" min=0 max=100  step="any" required/> <br> <br>
            <input type="submit" value="find grade"> <br> <br>
            <h3 id="ans">{{msg}}</h3>
        </form>
    </center>
</body>
</html>