{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="{% static 'app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <center>
        <form>
            <h2>News Web App by Girish Tanna</h2>
            <input type="radio" name="country" value="in">India
            <input type="radio" name="country" value="us">America
            <br><br> 
            <input type="submit" value="get news">
            <div id="news">{{msg}}</div>

        </form>
    </center>
</body>
</html>