<!DOCTYPE html>
<html lang="en">
<head>
    <title>Enquiry Form</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>Enquiry form by Girish Tanna D124</h2>
            <table>
                {{fm.as_table}}
            </table>
            <br>
            <input type="submit"/>
            <br> <br> {{msg}}
        </form>
    </center>
</body>
</html>