<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page not found</title>
    <style>
        *{
            font-size: 40px;
            
        }
        body{
            background-color: seagreen;
        }
    </style>
</head>
<body>
    <center>
        <h2>404 PAGE NOT FOUND</h2>
        <a href="{% url 'home' %}">Home</a>
    </center>
    
</body>
</html>