<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EO app By Girish</title>
    <style>
        *{
            font-size: 40px;

        }
        body{
            background-color: seagreen;
        }
    </style>
</head>
<body>
    <center>
        <form>
            <h2>Even Odd Web App By Girish Tanna</h2>
            <input type="number" placeholder="enter number"  name="num" required/>
            <br><br>
            <input type="submit" value="check E/O"> 
        </form>
        <br>
        {{msg}}
    </center>
</body>
</html>