<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Letter</title>
    <style>
        *{
            font-size: 40px;
        }
        body{
            background-color: seagreen;
        }
    </style>
</head>
<body>
    <center>

        <form method="POST">
            <h2>welcome to this webapp</h2>
            {% csrf_token %}
            {{fm}}
            <br><br>
            <input type="button" value="Sub" name="b1" required/>
            <input type="button" value="Un Sub" name="b2"/>
        </form>
        {{msg}}
    </center>
</body>
</html>