<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Square App</title>
    <style>
        *{
            font-size: 40px;
        }
        body{
            background-color: azure;
        }
    </style>
</head>
<body>
    <form>
    <center>
        <h2>SQUARE WEB APP</h2>
        <input type="number" name="num" placeholder="enter a number" step="any" required/>
        <br> <br> 
        <input type="submit" value="find"> <br>
        {{msg}}
    </center>
    </form>

</body>
</html>