<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Django APP</title>
    <style>
        *{font-size: 40px;}
        body{
          background-color: azure;
        }
    </style>
</head>
<body>
    <form>
        <center>
            <h2>Check even odd web app</h2>
        <input type="number" name="num" placeholder="enter a number"> <br> <br>
        <input type="submit" value="check even/odd">  <br> <br>
        {{msg}}  
        </center>
    </form>
</body>
</html>