{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'c1.css'%}">
    <script src="{% static 'j1.js' %}"></script>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h2>SQUARE ROOT WEB APP BY GIRISH TANNA</h2> <br> 
            <input type="number" id="num" name="num"  min=0 max=100 step="any" placeholder="enter number" required/> <br>
            <br>
            <input type="submit" value="find square root">
            <br><br>
            <h2 id="ans">{{msg}}</h2>
        </form>
    </center>
    
</body>
</html>