{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}"></script>
</head>
<body>
    <center>
        <h2>welcome! Register yourself here!</h2>
        {% csrf_token %}
        <form method="POST">
                <table>
                {% csrf_token %}
            {{fm.as_table}}
        </table>
            <br> <br>
            <input type="submit" value="submit here">
    </form>
        <br>
        <h2>{{msg}}</h2>
    </center>
</body>
</html>