<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication App</title>
    <style>
        *{
            font-size: 40px;
        }
        .nav{
            background-color: black;
            align-items: center;
            text-align: center;
        }
        .nav a{
            color: white;
            text-decoration: None;
            margin: 40px;
        }

    </style>
</head>
<body>
    <div class="nav">
        {% if user.is_authenticated %}
            <a href="{% url 'ulogout' %}">logout</a>
        {% else %}
        <a href="{% url 'uhome' %}">Home</a>
        <a href="{% url 'usignup' %}">Signup</a>
        {% endif %}
    </div>
    <center>  

        {% block content %}
        {% endblock %}
    </center>
    
</body>
</html>